<!--The HTML5 doctype declaration is very simple--> 
<!DOCTYPE HTML> 
<!--All page content is inside the HTML element--> 
<html> 
<!--Head element content is not visible in a browser window--> 
<head> 
<title>About Me</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="tablet.css" media="handheld" />
<link rel="stylesheet" type="text/css" href="phone.css" media="handheld" />

    <!-- font -->
    <script src="https://kit.fontawesome.com/996973c893.js"></script>
    <link
    href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap"
    rel="stylesheet">

    <title>Resume</title>
</head>

<body>
<nav class="links">
    <a href="ContactMe.html">Contact Me</a></li>
    <a href="Projects.html">View my projects</a></li>
    <a href="index.html">Home</a></li>
</nav>


  <body>
    <div class="box">
      <div class="header">
        <div class="header-left">
          <div class="name">
            <h1 class="first-name">Sri Sanjana</h1>
            <h1 class="last-name">Baddukonda</h1>
          </div>
        </div>
        <div class="header-right">
          <div class="email">
            <p><small>srisanjana.baddukonda@ontariotechu.net.com</p></small>
            <i class="fas fa-envelope"></i>
          </div>
          <div class="linkedin">
            <p><small>linkedin.com/in/srisanjanabaddukonda</p></small>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>
      <hr />
      <div class="objective">
        <div class="obj-heading grey">
          <h2>About Me</h2>
        </div>
        <p>
          My name is Sri Sanjana Baddukonda(she/her). 
          I am in my second year for tech management (IT).
          This is my first assignment for web and script programming, I was tasked
          to showcase my ability to create a html5 website and utilize css. 
          I was inspired to format this page the way I did because I overheard the professor to treat
          this assignment like a "resume".
        </p>
      </div>
      <div class="education">
        <div class="ed-heading grey">
          <h2>Education</h2>
        </div>

        <p>
          <b> Ontario Tech University</b> <i>2021-2025</i> - tech Management (IT)
        </p>
        <p>
          <b>Bur Oak Secondary School</b> <i> 2017-2021</i> - OSSD
        </p>
      </div>
      <div class="skills">
          <div class="skills-heading grey">
                <h2>Skills</h2>
          </div>

        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
        </ul>
      </div>
      <div class="activities">
        <div class="act-heading grey">
          <h2>Activities or experience</h2>
        </div>

        <p>
          Paint Sales associate at home depot, 
          She Leads (Enactus_OTU) ambassador co-ordinator and social media content creator,
          and enjoys participating in data visualization events (UNB data viz sprint)
        </p>
      </div>
    </div>
    <footer>
      &copy; 2022 | srisanjanabaddukonda
  </footer>
  </body>
</html>