<!--The HTML5 doctype declaration is very simple--> 
<!DOCTYPE HTML> 
<!--All page content is inside the HTML element--> 
<html> 
<!--Head element content is not visible in a browser window--> 
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href='/Content/style.css'>
<link rel="stylesheet" type="text/css" href="tablet.css" media="handheld" />
<link rel="stylesheet" type="text/css" href="phone.css" media="handheld" />
    <!-- font -->
    <!--<script src="https://kit.fontawesome.com/996973c893.js"></script>
    <link
    href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,800,900&display=swap"
    rel="stylesheet"
  /> -->
  <script src="/Scripts/app.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>

<title>Home</title>
</head>

<body>

<nav class="links">
<a href="ContactMe.html">Contact Me</a></li>
<a href="/projects">View my projects</a></li>
<a href="views/about.ejs">About Me</a>
</nav>

<div class="Landing">
    <h1> Welcome </h1>
    <p> Welcome to my website. My Name is Sri Sanjana Baddukonda <i>(she/her)</i> and I am a second year 
      student at Ontario Tech University for Tech Management (IT). Use the links above to learn more about me, contact me or view my projects! 
      Below is a picture of me and a video about me!</p>

  <img src='images/picofme.JPG' width="500" height="315" align="left" alt="pic of me">

   <video width="500" height="315" controls Autoplay=autoplay align= "right" src='images/introvideo1.MOV'></video>
</div>

<footer>
  &copy; 2022 | srisanjanabaddukonda
</footer>
</body>

</html>